おっけ〜
.testa
  = link_to destroy_user_session_path, method: :delete do
    %button.logout_btn{name: "button", type: "submit"}
      ログアウト
.testb
  = link_to "/" do
    %button.home_btn{name: "button", type: "submit"}
      ホームに戻る

