
.aaaaa
  = link_to root_path do
    %img.aaabbb__logo{:src => "/assets/logo.png"}
.bbbbb
  .Cform
    









.footer
  .content
    .title
      FURIMAについて
    .a
      %a{:href => "#"} 会社概要（運営会社）
    .a
      %a{:href => "#"} プライバシーポリシー
    .a
      %a{:href => "#"} FURIMA利用規約
    .a
      %a{:href => "#"} ポイントに関する特約
  .content
    .title
      FURIMAを見る
    .a
      %a{:href => "#"} カテゴリー一覧
    .a
      %a{:href => "#"} ブランド一覧
  .content
    .title
      ヘルプ＆ガイド
    .a
      %a{:href => "#"} FURIMAガイド
    .a
      %a{:href => "#"} FURIMAロゴ利用ガイドライン
    .a
      %a{:href => "#"} お知らせ
.footerlogo
  %a{:href => "/"}
    %img.logo{:src => "/assets/logo-white.png"}/
  .copyright
    © FURIMA