%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}

.aaaaa
  .aaaaa__logo
    ロゴ
.bbbbb
  .Cform
    .Cform__imageform
      .Cform__imageform--title
        出品画像
      .Cform__imagebox
        画像選択BOXです
        □
    .Cform__itemname
      .Cform__itemname--title
        商品名
      .Cform__itemnamebox
        商品名書き込みフォームです
        .inputform
          □
    .Cform__description
      .Cform__description--title
        商品説明
      .Cform__descriptionbox
        説明書き込みフォームです
        .inputform
          □
    .Cform__productdetails
      .Cform__productdetails--title
        商品の詳細設定
      .Cform__productdetailsbox
        カテゴリーBOXです
        .pulldown
          □
      .Cform__productdetailsbox
        ブランド書き込みフォームです
        .inputform
          □
      .Cform__productdetailsbox
        商品状態設定BOXです
        .pulldown
          □
    .Cform__delivery
      .Cform__delivery--title
        配送について
      .Cform__deliverybox
        配送方法等決定BOXです
        .pulldown
          □
      .Cform__deliverybox
        配送方法等決定BOXです
        .pulldown
          □
      .Cform__deliverybox
        配送方法等決定BOXです
        .pulldown
          □
    .Cform__price
      .Cform__price--title
        価格設定
      .Cform__pricebox
        価格BOXです
        .inputform
          □

.ccccc
  .Ebtn
    出品する
  .homebtn
    ホームに戻る

.ddddd
  フッターです
