!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FURIMA
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "MX8USgFLb+yKyw56QkRCuO4N2iLEOnpE+9oXYj33p5S0VX0oD1SUW0Th53XuxgKlaR2AFz4pja9DefaXqSENzw==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-2e096b94f60fe4efbadc0b2fe0199ebc3f338134ada36d1d73b67e994e191614.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/top_page.js"}
  %body
    %header.pcHeader
      .headerInner
        .mainHeader
          %h1.icon
            %a{:href => "/"}
              %img{:src => "/assets/logo.png"}/
          .searchBox
            %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input#searchInput.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
            %form.button_to{:action => "/?type=submit", :method => "post"}
              %button{:type => "submit"}
                .searchBox__icon
                  %img{:src => "/assets/icon-search1.png"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "Yy62hlAaZT3QU6Y0vftkBj0n/xo7eoRo0RLb0GGua2IGtovepJrhLCEtE4LiR3/fZQyfKI7cvJjrPcf7a4icHQ=="}/
          %ul.resultLists
        .nav
          %ul.listsLeft
            %li.listsLeft__item.listsLeft__item--first
              %a#catBtn{:href => "#"} カテゴリー
              .tree.displayNone
                %ul.categoryTree
                  %li.categoryTree--item
                    %a#1{:href => "#"} レディース
                  %li.categoryTree--item
                    %a#2{:href => "#"} メンズ
                  %li.categoryTree--item
                    %a#3{:href => "#"} ベビー・キッズ
                  %li.categoryTree--item
                    %a#4{:href => "#"} インテリア・住まい・小物
                  %li.categoryTree--item
                    %a#5{:href => "#"} 本・音楽・ゲーム
                  %li.categoryTree--item
                    %a#6{:href => "#"} おもちゃ・ホビー・グッズ
                  %li.categoryTree--item
                    %a#7{:href => "#"} コスメ・香水・美容
                  %li.categoryTree--item
                    %a#8{:href => "#"} 家電・スマホ・カメラ
                  %li.categoryTree--item
                    %a#9{:href => "#"} スポーツ・レジャー
                  %li.categoryTree--item
                    %a#10{:href => "#"} ハンドメイド
                  %li.categoryTree--item
                    %a#11{:href => "#"} チケット
                  %li.categoryTree--item
                    %a#12{:href => "#"} 自動車・オートバイ
                  %li.categoryTree--item
                    %a#13{:href => "#"} その他
            %li.listsLeft__item
              %a#brandBtn{:href => "#"} ブランド
              %ul.brandsPulldown.displayNone
          %ul.listsRight
            %li.listsRight__item.listsRight__item--login
              %a{:href => "#"} ログイン
            %li.listsRight__item.listsRight__item--new
              %a{:href => "#"} 新規会員登録
    .main
      -# カルーセル
      %section.firstVisual
        .content
          %h2.content__subtitle
            %br/
            人生を変えるフリマアプリ
          %p.content__text
            FURIMAはだれでもかんたんに出品・購入できる
            %br/
            フリマアプリです
        .picture
          %img{:src => "/assets/bg-mainVisual-pict_pc.jpg"}
      -# カルーセル
      %section.secondVisual
        .content
          %h2.content__subtitle 会員数日本一位
          %p.content__text
            FURIMAは、フリマアプリで最も人気。
            = succeed "\u51FA\u54C1\u30FB\u8CFC\u5165\u56DE\u6570\u3082\u696D\u754C\u6700\u591A\u3067\u3059\uFF01" do
              %br/
            %br/
            ほしかったあの商品に出会えるかもしれません。
        .picture
          %img{:src => "/assets/bg-topMiddleDl-pict.jpg"}
      -# カルーセル
      %section.thirdVisual
        .content
          %h2.content__subtitle だれでもかんたん、人生を変えるフリマアプリ
          %p.content__text 今すぐ無料ダウンロード！
        .picture
          %img{:src => "/assets/bg-appBanner-pict.jpg"}
      %section.pickupContainer
        %h2.head ピックアップカテゴリー
        .productBox
          .productHead
            %a{:href => "#"}
              %h3.title 新規投稿商品
          .productLists
            .productList
              %a{:href => "/products/3"}
                %figure.productList--img
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
                .productList--body
                  %h3.name product3
                  .details
                    %ul
                      %li 30000円
                      %li
                        %i.fa.fa-star.likeIcon
                        0
                    %p (税込)
            .productList
              %a{:href => "/products/2"}
                %figure.productList--img
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
                .productList--body
                  %h3.name product2
                  .details
                    %ul
                      %li 20000円
                      %li
                        %i.fa.fa-star.likeIcon
                        0
                    %p (税込)
            .productList
              %a{:href => "/products/1"}
                %figure.productList--img
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
                .productList--body
                  %h3.name product1
                  .details
                    %ul
                      %li 10000円
                      %li
                        %i.fa.fa-star.likeIcon
                        0
                    %p (税込)
      %section.pickupContainer
        %h2.head ピックアップブランド
        .productBox
          .productHead
            %a{:href => "#"}
              %h3.title アーカイバ
          .productLists
            .productList
              %a{:href => "/products/3"}
                %figure.productList--img
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
                .productList--body
                  %h3.name product3
                  .details
                    %ul
                      %li 30000円
                      %li
                        %i.fa.fa-star.likeIcon
                        0
                    %p (税込)
            .productList
              %a{:href => "/products/2"}
                %figure.productList--img
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
                .productList--body
                  %h3.name product2
                  .details
                    %ul
                      %li 20000円
                      %li
                        %i.fa.fa-star.likeIcon
                        0
                    %p (税込)
            .productList
              %a{:href => "/products/1"}
                %figure.productList--img
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
                .productList--body
                  %h3.name product1
                  .details
                    %ul
                      %li 10000円
                      %li
                        %i.fa.fa-star.likeIcon
                        0
                    %p (税込)
    .footer
      %ul.contents
        %li.content
          %h2.content__head FURIMAについて
          %ul
            %li
              %a{:href => "#"} 会社概要（運営会社）
            %li
              %a{:href => "#"} プライバシーポリシー
            %li
              %a{:href => "#"} FURIMA利用規約
            %li
              %a{:href => "#"} ポイントに関する特約
        %li.content
          %h2.content__head ヘルプ＆ガイド
          %ul
            %li
              %a{:href => "#"} FURIMAガイド
            %li
              %a{:href => "#"} FURIMAロゴ利用ガイドライン
            %li
              %a{:href => "#"} お知らせ
      .footer__logo
        %a{:href => "/"}
          %img{:src => "/assets/logo-white.png"}/
      %p © FURIMA
    %a{:href => "#"}
      .purchaseBtn
        %span.purchaseBtn__text 出品する
        %img.purchaseBtn__icon{:src => "/assets/icon_camera.png"}/
