ヘッダー
.bbbbb
  .Cform
    .varification
      .varification__title
        新規会員登録
      .varification__buy_btn
        %button.buy_btn{:name => "button", :type => "submit"}
          メールアドレスで登録する
        .b
          

フッター