a{
  text-decoration: none;
}

//プルダウンメニューのcss
.selectwrap{
  width: 100%;
  position: relative;
  display: inline-block;
}
.selectwrap::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  border-radius: 2px;
}
select::-ms-expand {
    display: none;
}

.logoheader{
  height: 150px;
  width: 100%;
  text-align: center;
  &__logo{
    width: 25vw;
    height: 100px;
    margin-top: 25px;
  }
}

.cdi{
  .cardinfoform{
    height: 1500px;
    width: 60vw;
    margin:0 auto;
    .cardinfo{
      background-color: #f2f2f2;
      height: 570px;
      padding-top: 20px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      &__title{
        border-bottom: 1px solid  silver;
        height: 100px;
        text-align: center;
        font-size: 25px;
        line-height: 100px;
      }


      &__cardnumber{
        height: 120px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          font-size: 15px;
          padding-top: 20px;
          .textarea{
          }
        }
      }


      &__deadline{
        height: 120px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          font-size: 15px;
          padding-top: 20px;
          display: flex;
          justify-content: center;
          .year{
            background-color: white;
          }
          .year_title{
            margin-top: 8px;
            padding-right: 50px;
          }
          .month{
            background-color: white;
          }
          .month_title{
            margin-top: 8px;
            padding-right: 50px;
          }
        }
      }
      &__securitynumber{
        height: 120px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          font-size: 15px;
          padding-top: 20px;
          .textarea{
          }
        }
      }
    }
    .nextbtn{
      height: 150px;
      line-height: 150px;
      font-size: 20px;
      padding-left: 20px;
      padding-top: 20px;
      text-align: center;
      .next_btn{
        margin-top: 20px;
        font-size: 20px;
        background-color: red;
        color: white;
        width: 400px;
        height: 80px;
      }
    }
  }
}


.footer{
  padding: 60px 0;
  background-color: #272727;
  text-align: center;
  a{
    color: #fff;
    font-size: 12px;
  }
  &__contents{
    display: flex;
    justify-content: space-between;
    padding: 0 450px;
    color: #fff;
    &__content{
      a{
        text-decoration: none;
      }
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &__logo{
    margin-top: 30px;
    img{
      width: 140px;
      height: 40px;
    }
    p{
      color: #fff;
    }
  }
}