a{
  text-decoration: none;
}

//プルダウンメニューのcss
.selectwrap{
  font-weight: normal;
  width: 100%;
  position: relative;
  display: inline-block;
}
.selectwrap::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  border-radius: 2px;
}
select::-ms-expand {
    display: none;
}


.logoheader{
  height: 150px;
  width: 100%;
  text-align: center;
  &__logo{
    width: 25vw;
    height: 100px;
    margin-top: 25px;
  }
}

.ee{
  .Eform{
    background-color: silver;
    height: 2000px;
    width: 60vw;
    margin:0 auto;
    &__imageform{
      background-color: #F2F2F2;
      height: 500px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      margin-bottom: 1px;
      &--title{
        display: flex;
        font-size: 20px;
          .title{
            text-align: center;
          }
          .require{
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
      }
      &--title2{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .Eform__dropbox{
        .inputarea{
          text-align: center;
        }
      }
    }

    &__itemname{
      background-color: #f2f2f2;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      font-weight: bold;
      &--title{
        display: flex;
        font-size: 20px;
        font-weight: normal;
          .title{
            text-align: center;
          }
          .require{
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
      }
      .Eform__itemnamebox{
        .inputform{
          .inputarea{
            width: 700px;
            height: 40px;
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
    }


    &__description{
      background-color:#f2f2f2;
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 40px;
      margin-bottom: 1px;
      &--title{
        display: flex;
          .title{
            text-align: center;
            font-size: 20px;
          }
          .require{
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
      }
      .Eform__descriptionbox{
        .inputform{
          .inputarea{
            width: 700px;
            height: 200px;
            font-size: 16px;
          }
        }
      }
    }


    &__productdetails{
      background-color: #f2f2f2;
      height: 350px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      margin-bottom: 1px;
      font-weight: bold;
      &__category{
        display: flex;
          &__title{
            font-size: 20px;
            font-weight: normal;
          }
          &__require{
            font-weight: normal;
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
      }
      &__brand{
        display: flex;
        font-weight: normal;
          &__title{
            text-align: center;
            font-size: 20px;
          }
          &__require{
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
      }
      &__status{
        display: flex;
        font-weight: normal;
          &__title{
            text-align: center;
            font-size: 20px;
          }
          &__require{
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
      }
      .Eform__productdetailsbox{
        font-weight: normal;
        .inputarea{
          width: 700px;
          height: 50px;
          font-size: 16px;
          margin-bottom: 20px;
        }
        .pulldown{
          background-color: white;
          margin-bottom: 30px;
        }
      }
    }

    &__delivery{
      font-weight: bold;
      background-color: #f2f2f2;
      height: 350px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      margin-bottom: 1px;
      &--title{
        font-weight: normal;
        display: flex;
          .title{
            text-align: center;
            font-size: 20px;
          }
          .require{
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
            font-weight: normal;
          }
      }
      .Eform__deliverybox{
        .pulldown{
          background-color: white;
          margin-bottom: 30px;
        }
     }
    }

    &__price{
      background-color: #f2f2f2;
      height: 450px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      font-weight: bold;
      &__displayarea{
        font-weight: normal;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        height: 40px;
        &__pricearea{
          display: flex;
          position: relative;
          &__title{
            font-size: 20px;
          }
          &__require{
            position: absolute;
            top: 6px;
            left: 80px;
            border-radius: 5px;
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 28px;
            margin-left: 20px;
            font-size: 16px;
          }
        }
        &__pricedisplayarea{
          display: flex;
          &__yen{
          }
          &__form{
            .inputarea{
              width: 200px;
              height: 40px;
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
        &__commissionarea{
          display: flex;
          justify-content: space-between;
          font-weight: normal;
          padding-top: 30px;
          border-bottom: 1px solid silver;
          padding-bottom: 30px;
          &__title{
          }
        }
        &__profitarea{
          display: flex;
          justify-content: space-between;
          font-weight: normal;
          padding-top: 30px;

        }
      }  
    }
  }
}


.eee{
  height: 300px;
  width: 100%;
  text-align: center;
  .exhibition_btn{
    margin-top: 40px;
    font-size: 14px;
    background-color: #ea352d;
    color: white;
    width: 320px;
    height: 50px;
    line-height: 50px;
    border: #ea352d;
}
  .home_btn{
    margin-top: 20px;
    font-size: 14px;
    background-color: rgb(73, 73, 255);
    color: white;
    width: 320px;
    height: 50px;
    line-height: 50px;
    border:  rgb(73, 73, 255);
}
}


.footer{
  padding: 60px 0;
  background-color: #272727;
  text-align: center;
  a{
    color: #fff;
    font-size: 12px;
  }
  &__contents{
    display: flex;
    justify-content: space-between;
    padding: 0 450px;
    color: #fff;
    &__content{
      a{
        text-decoration: none;
      }
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &__logo{
    margin-top: 30px;
    img{
      width: 140px;
      height: 40px;
    }
    p{
      color: #fff;
    }
  }
}