a{
  text-decoration: none;
}

//プルダウンメニューのcss
.selectwrap{
  width: 100%;
  position: relative;
  display: inline-block;
}
.selectwrap::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  border-radius: 2px;
}
select::-ms-expand {
    display: none;
}




a:visited{
  color: white;
}

.header{
  height: 150px;
  width: 100%;
  text-align: center;
  .aaabbb{
    &__logo{
      width: 25vw;
      height: 100px;
      margin-top: 25px;
    }
  }
}

.bbbbb{
  .Eform{
    background-color: black;
    height: 2500px;
    width: 60vw;
    margin:0 auto;
    &__imageform{
      background-color: #F2F2F2;
      height: 500px;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 1px;
      &--title{
        display: flex;
        font-size: 20px;
          .title{
            text-align: center;
          }
          .require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
      }
      &--title2{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .Eform__dropbox{
        .inputarea{
          text-align: center;
        }
      }
    }

    &__itemname{
      background-color: #f2f2f2;
      height: 250px;
      padding-left: 20px;
      padding-top: 20px;
      &--title{
        display: flex;
        font-size: 20px;
          .title{
            text-align: center;
          }
          .require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
      }
      .Eform__itemnamebox{
        .inputform{

        }
      }
    }


    &__description{
      background-color:#f2f2f2;
      height: 250px;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 1px;
      &--title{
        display: flex;
          .title{
            text-align: center;
            font-size: 20px;
          }
          .require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
      }
      .Eform__descriptionbox{
        .inputform{

        }
      }
    }


    &__productdetails{
      background-color: #f2f2f2;
      height: 500px;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 1px;
      &--title{
        display: flex;
          .title{
            text-align: center;
            font-size: 20px;
          }
          .require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
      }
      .Eform__productdetailsbox{
        .inputform{

        }
        .pulldown{
          
        }
      }
    }


    &__delivery{
      background-color: #f2f2f2;
      height: 500px;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 1px;
      &--title{
        display: flex;
          .title{
            text-align: center;
            font-size: 20px;
          }
          .require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
      }
      .Eform__deriverybox{
        .pulldown{
          
        }
      }
    }






    &__price{
      background-color: #f2f2f2;
      height: 500px;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 1px;
      &--title{
        display: flex;
          .title{
            text-align: center;
            font-size: 20px;
          }
          .require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
      }
      .Eform__productdetailsbox{
        .inputform{

        }
      }
    }




  }
}

.ccccc{
  height: 280px;
  width: 100%;
  text-align: center;
  .exhibition_btn{
    margin-top: 40px;
    font-size: 40px;
    color: white;
    background-color: red;
    width: 400px;
    height: 80px;
  }
  .home_btn{
    margin-top: 20px;
    font-size: 40px;
    color: white;
    background-color: blue;
    width: 400px;
    height: 80px;
  }
}

.footer{
  padding:60px 0;
  color:#fff;
  background-color: black;
  text-align:center;
  display: flex;
  .content{
    width:calc(1 / 3 * 100%);
  }
  .title{

    }
  .a{
    padding-top: 15px;
  }
}
.footerlogo{
  background-color: black;
  text-align: center;
  .logo{
    width: 150px;
    height: 50px;
    background-color: black;
  }
  .copyright{
    color: white;
  }
}