a{
  text-decoration: none;
}

.header{
  &__headerTop{
    max-width: 1040px;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;
    h1{
      margin-right: 30px;
    }
  }
  &__searchPlace{
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
    width: 100%;
    &__content{
      width: 100%;
      &__field{
        width: calc(100% - 26px);
        margin: 8px 0 0;
      }
    }
    &__btn{
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CC;
      padding: 8px;
      text-align: center;
      img{
        
      }
    }
  }
  &__headerBottom{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    display: flex;
    &__left{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 0 10px;
      }
      li{
        display: inline;
      }
    }
    &__right{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 0 10px;
      }
      li{
        display: inline;
      }
    }
  }
}