a{
  text-decoration: none;
}

a:visited{
  color: white;
}

.header{
  &__headerTop{
    max-width: 1040px;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;
    h1{
      margin-right: 30px;
    }
  }
  &__searchPlace{
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
    width: 100%;
    &__content{
      width: 100%;
      &__field{
        width: calc(100% - 26px);
        margin: 8px 0 0;
      }
    }
    &__btn{
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CC;
      padding: 8px;
      text-align: center;
      img{
        
      }
    }
  }
  &__headerBottom{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    display: flex;
    &__left{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 0 10px;
      }
      li{
        display: inline;
      }
    }
    &__right{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 0 10px;
      }
      li{
        display: inline;
      }
    }
  }
}

.ii{
  .Iform{
    background-color: #f2f2f2;
    height: 2000px;
    width: 60vw;
    margin:0 auto;
    .itembox{
      text-align: center;
      margin-left: 40px;
      margin-right: 40px;
      &__name{
        font-size: 60px;
        padding: 20px 20px 20px 20px ;
      }
      &__image{
        .mainimage{
          width: 500px;
          height: 500px;
        }
        .subimage{
          width: 75px;
          height: 75px;
        }
      }
      &__price{
        font-size: 50px;
      }
      &__pricestatus{
      }
      .deliveryfee_status{
      }
      .buy_btn{
        margin-top: 20px;
        font-size: 20px;
        background-color: red;
        width: 400px;
        height: 80px;
      }
      .itemdetail{
        word-break: break-all;
        padding: 20px 20px 20px 20px ;
      }
    }
    .products_infomation{
      margin-left: 40px;
      margin-right: 40px;
      .a{
        display: flex;
        .b{
          width: 10vw;
          height: 60px;
          background-color: silver;
          text-align: center;
          line-height: 60px;
        }
        ul{
          width: 40vw;
          height: 60px;
          list-style: none;
          font-size: 15px;
          line-height: 60px;
        }
      }

    }
    .like_or_hate{
      padding-top: 20px;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      justify-content: space-between;
    }
    .comment{
      padding-top: 20px;
      margin-left: 40px;
      margin-right: 40px;
      text-align: center;
      textarea{
      }
      .commentbtn{

      }
    }
  }
}
.links{
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.otheritem{
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.footer{
  padding: 60px 0;
  background-color: #272727;
  text-align: center;
  a{
    color: #fff;
    font-size: 12px;
  }
  &__contents{
    display: flex;
    justify-content: space-between;
    padding: 0 450px;
    color: #fff;
    &__content{
      a{
        text-decoration: none;
      }
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;

      }
    }
  }
  &__logo{
    margin-top: 30px;
    img{
      width: 140px;
      height: 40px;
    }
    p{
      color: #fff;
    }
  }
}