a{
  text-decoration: none;
}

.logoheader{
  height: 150px;
  width: 100%;
  text-align: center;
  &__logo{
    width: 25vw;
    height: 100px;
    margin-top: 25px;
  }
}

.ll{
  .Lform{
    height: 850px;
    width: 36vw;
    margin:0 auto;
    .logininfo{
      background-color: #f2f2f2;
      height: 700px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      .signuplinktitle{
        padding-top: 20px;
        text-align: center;
        font-size: 16px;
      }
      .signupbtn{
        padding-bottom: 40px;
        border-bottom: 1px solid silver;
        .signup_btn{
          font-size: 14px;
          background-color: rgb(55, 178, 255);
          color: white;
          width: 320px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          border: rgb(55, 178, 255);
        }
      }  
      &__facebookbtn{
        padding-top: 40px;
        padding-bottom: 20px;
        .facebook_btn{
          font-size: 14px;
          background-color: #3b5998;
          width: 320px;
          height: 50px;
          color: white;
          line-height: 50px;
          border: #3b5998;
        }
        &__fas-font{
          display: flex;
          justify-content: space-around;
          &__fas{
            font-size: 25px;
          }
        }
      }
      &__googlebtn{
        padding-top: 10px;
        padding-bottom: 40px;
        .google_btn{
          font-size: 14px;
          width: 320px;
          height: 50px;
          background-color: rgb(90, 90, 90);
          border: rgb(90, 90, 90);
        }
        &__btnfont{
          display: flex;
          justify-content: space-around;
          line-height: 50px;
          &__fas{
            color: white;
            font-size: 18px;
          }
          &__color{
            display: flex;
            &--color1{
              color: #4285F4;
            }
            &--color2{
              color: #DB4437;
            }
            &--color3{
              color: #F4B400;
            }
            &--color4{
              color: #4285F4;
            }
            &--color5{
              color: #0F9D58;
            }
            &--color6{
              color: #DB4437;
            }
            &--color7{
              color:white;
            }
          }
          &__space{

          }
        }
      }
      &__mailadress{
        font-size: 20px;
        padding-top: 40px;
        .inputarea{
          height: 40px;
          width: 320px;
          font-size: 18px;
          border-radius: 5px;
          border: 1px solid silver;
        }
      }
      &__password{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        .inputarea{
          height: 40px;
          width: 320px;
          font-size: 18px;
          border-radius: 5px;
          border: 1px solid silver;
        }

      }
      &__loginbtn{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
        .login_btn{
          font-size: 14px;
          background-color: #ea352d;
          color: white;
          width: 320px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          border: #ea352d;
        }
      }
    }
  }
}

.footer{
  padding: 60px 0;
  background-color: #272727;
  text-align: center;
  a{
    color: #fff;
    font-size: 12px;
  }
  &__contents{
    display: flex;
    justify-content: space-between;
    padding: 0 450px;
    color: #fff;
    &__content{
      a{
        text-decoration: none;
      }
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &__logo{
    margin-top: 30px;
    img{
      width: 140px;
      height: 40px;
    }
    p{
      color: #fff;
    }
  }
}