.mycontent__right{
  &__background{
    background-color: white;
    width: 700px;
    height: 300px;
    position: relative;
    .logout_btn{
      position: absolute;
      height: 50px;
      width: 320px;
      background-color: #ea352d;
      color: white;
      font-size: 14px;
      top: 125px;
      right: 190px;
      border: #ea352d;
    }
  }
}
