
.mycontent {
  height: 1300px;
  padding: 40px 200px;
  background-color: #f8f8f8;
  display: flex;
  &__left {
    width: 300px;
    &--menu {
      ul {
        margin-bottom: 40px;
        .list-title {
          height: 50px;
          width: 300px;
          padding: 0 20px;
          color: black;
          background-color: #EEEEEE;
          // border: solid gray 1px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
        }
        .list {
          height: 50px;
          width: 300px;
          background-color: #fff;
          border-bottom: solid #f2f2f2 1px;
          box-sizing: border-box;
          line-height: 50px;
          a{
            color: black;
            display: block;
            padding-left: 15px;
          }
          a:hover{
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
  &__right {
    margin-left: 70px;
      &--product {
        .title {
        height: 80px;
        width: 600px;
        padding-left: 40px;
        font-size: 20px;
        background-color: #EEEEEE;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        }
      }
      .transactions {
        display: flex;
        p {
          height: 80px;
          width: 300px;
          font-size: 20px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .current_transactions {
          border-top: solid #5DCFD3 3px;
          box-sizing: border-box;
        }
        .past_transactions {
          background-color: gray;
        }
      }
      .product-list {
        height: 400px;
        width: 600px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        .message {
          color: lightgray;
        }
      }
  }
}

.footer{
  padding: 60px 0;
  background-color: #272727;
  text-align: center;
  a{
    color: #fff;
    font-size: 12px;
  }
  &__contents{
    display: flex;
    justify-content: space-between;
    padding: 0 450px;
    color: #fff;
    &__content{
      a{
        text-decoration: none;
      }
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &__logo{
    margin-top: 30px;
    img{
      width: 140px;
      height: 40px;
    }
    p{
      color: #fff;
    }
  }
}