.mycontent__right{
  &__payment{
    background-color: white;
    width: 700px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    .payment_btn{
      margin-top: 40px;
      color: white;
      font-size: 14px;
      background-color: #ea352d;
      width: 320px;
      height: 50px;
      border: #ea352d;
    }
  }
  &__ccdelete{
    background-color: white;
    width: 700px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    .ccdelete_btn{
      margin-top: 40px;
      color: white;
      font-size: 14px;
      background-color: #ea352d;
      width: 320px;
      height: 50px;
      border: #ea352d;
    }
  }
}