a{
  text-decoration: none;
}


//ヘッダーcss

.bbbbb{
  .Cform{
    .buy_btn{
      margin-top: 20px;
      font-size: 20px;
      background-color: red;
      width: 400px;
      height: 80px;
    }
  }
}


//フッターcss