a{
  text-decoration: none;
}

//ヘッダーcss

.ss{
  .Sform{
    height: 1900px;
    width: 60vw;
    margin:0 auto;
    .memberinfo{
      background-color: #f2f2f2;
      height: 1600px;
      padding-top: 20px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      &__title{
        border-bottom: 1px solid  silver;
        height: 100px;
        text-align: center;
        font-size: 25px;
        line-height: 100px;
      }
      &__nickname{
        border-bottom: 1px solid  silver;
        height: 200px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          padding-top: 20px;
          .textarea{
          }
        }
      }


      &__email{
        border-bottom: 1px solid  silver;
        height: 200px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          padding-top: 20px;
          .textarea{
          }
        }
      }


      &__password{
        border-bottom: 1px solid  silver;
        height: 200px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          padding-top: 20px;
          .textarea{
          }
        }
      }

      &__name{
        border-bottom: 1px solid  silver;
        height: 200px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          padding-top: 20px;
          .textarea{
          }
        }
      }

      &__namek{
        border-bottom: 1px solid  silver;
        height: 200px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          padding-top: 20px;
          .textarea{
          }
        }
      }

      &__birthday{
        height: 200px;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        &__titleblock{
          display: flex;
          justify-content: center;
          &__title{
          }
          &__require{
            color: white;
            background-color: red;
            height: 28px;
            width: 46px;
            text-align: center;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &__inputblock{
          padding-top: 20px;
          .textarea{
          }
        }
      }
    }

    .registerbtn{
      height: 200px;
      font-size: 20px;
      padding-left: 20px;
      padding-top: 20px;
      text-align: center;
      .register_btn{
        margin-top: 20px;
        font-size: 20px;
        background-color: red;
        color: white;
        width: 400px;
        height: 80px;
      }
    }





  }
}



//フッターcss