.productList
  = link_to product_path(product) do
    - if product.buyer_id == nil
      = image_tag product.images[0].image.url, alt: "画像", class: "productList--field"
    - else
      = image_tag product.images[0].image.url, alt: "画像", class: "productList--field"
      .productList__soldout
        SOLD OUT